<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}} | #20秒チャレンジ</title>

    <!-- SNS -->
    <meta name="twitter:site" content="@reerishun">
    <meta name="twitter:text:title" content="{{.Title}} | #20秒チャレンジ">
    <meta name="twitter:image" content="{{.Path}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@reerishun">
    <meta property="og:title" content="{{.Title}} | #20秒チャレンジ" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="{{.Title}} | #20秒チャレンジ">
    <meta property="og:description" content="20秒で絵を描き上げよう！">
    <meta property="og:image" content="{{.Path}}">
</head>
<body>
    <h1>{{.Title}}</h1>
    <img src="{{.Path}}">
</body>
</html>