<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>絵を描く | #20秒チャレンジ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SNS -->
    <meta name="twitter:site" content="@reerishun">
    <meta name="twitter:text:title" content="#20秒チャレンジ">
    <meta name="twitter:image" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@reerishun">
    <meta property="og:title" content="#20秒チャレンジ" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="#20秒チャレンジ">
    <meta property="og:description" content="20秒で絵を描き上げよう！">
    <meta property="og:image" content="">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/style/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/style/common.css">
    <link rel="stylesheet" type="text/css" href="../static/style/main.css">

    <!-- JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
<h1>#20秒チャレンジ</h1>
<input
    id="draw-title"
    type="text"
    name="title"
    placeholder="まずはお題を入力しよう！">

<div>
    <canvas id="draw-area" width="320px" height="320px"></canvas>
    <div id="draw-readonly">
        <p>
            20秒間だけ自由に<br>
            好きな絵を描こう！
        </p>
        <button
                id="start-button"
                type="button"
                onclick="cntStart()">
            START
        </button>
    </div>
    <div id="draw-result">
        <p>
            ツイートして<br>
            みんなにシェアしよう！
        </p>
        <button
                id="twitter-share-button"
                onclick="tweet()">
            ツイートする
        </button>
    </div>
</div>

<div id="timer-area">
    <img src="../static/img/timer.png" alt="timer">
    <span id="timer">20</span>
</div>

<button id="clear-button" style="cursor: pointer">全消し</button>

<script src="../static/js/index.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    const xhr = new XMLHttpRequest();

    let timerID;                  //タイマーを格納する変数（タイマーID）の宣言

    let button_active = false;  // スタートボタンを押すことができるか
    let twitter_link = "";      // Twitter用リンク

    const domain = "http://localhost:8000";

    // タイトル入力の確認
    document.getElementById("draw-title").onchange = function () {
        // 入力がされている場合のみ有効にする
        button_active = (document.getElementById("draw-title").value !== "");
        // 有効時にボタンの色を赤色に変更する
        document.getElementById("start-button").style.backgroundColor = "#ff0000";

        ctx.fillStyle = 'rgb(255,255,255)';
        ctx.fillRect(0, 0, cvs.width, cvs.height);
    }

    //カウントダウン関数を1000ミリ秒毎に呼び出す関数
    document.getElementById("start-button").onclick = function () {
        // 文字列が入力されている場合のみ
        if (button_active) {
            // タイマー開始
            timerID = setInterval(
                "countDown()",
                1000
            );

            // カウント開始時のみ書き込み可能に
            document.getElementById("draw-readonly").style.display ="none";
            document.getElementById("draw-area").style.display ="inline-block";

            // タイトル入力の無効化
            document.getElementById("draw-title").readOnly = true;
        }
    }

    // カウントダウン関数
    function countDown() {
        document.getElementById('timer').innerText--;

        if (document.getElementById('timer').innerText === "0") {
            clearInterval(timerID);
            document.getElementById("draw-area").style.display ="none";
            document.getElementById("draw-result").style.display ="inline-block";

            // 画像を保存
            const image_data = cvs.toDataURL("image/png");
            saveImage(image_data);

        }
    }

    // 画像の保存
    function saveImage (image) {

        xhr.open('POST', domain + '/save');
        xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        // フォームに入力した値をリクエストとして設定
        let base64Data = image.split(',')[1];

        xhr.onreadystatechange = function() { // 状態が変化すると関数が呼び出されます。
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                // ここに画像のリンクが来る
                createLink(this.responseText.replace(/\"/g, ""));
            }
        }
        // APIへの送信
        xhr.send('title=' + document.getElementsByName('title')[0].value + '&file=' + base64Data);
    }

    // リンクの作成
    function createLink (id) {
        twitter_link =
            "https://twitter.com/intent/tweet?text=" +
            encodeURIComponent(document.getElementById("draw-title").value) +
            "%E3%81%AE%E7%B5%B5%E3%82%92%E8%A6%8B%E3%82%8B&url=" +
            domain +
            "/gallery/" +
            encodeURIComponent(id) +
            "&hashtags=20%E7%A7%92%E3%83%81%E3%83%A3%E3%83%AC%E3%83%B3%E3%82%B8"
        console.log(twitter_link);
    }

    // ツイート処理
    function tweet () {
        window.open(twitter_link, '_blank');
    }
</script>

</body>
</html>