<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        const xhr = new XMLHttpRequest();

        window.onload = function() {
            // 計算ボタンを押した際の動作を設定
            document.getElementById('submit').onclick = function() {
                post();
            };

            // サーバからのデータ受信を行った際の動作
            xhr.onload = function (e) {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        console.log(xhr.responseText)
                    }
                }
            }
        }

        function post() {
            xhr.open('POST', 'http://localhost:8000/save');
            xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
            // フォームに入力した値をリクエストとして設定
            xhr.send('title=Test&path=https://pbs.twimg.com/media/EqqFbcjVgAE5SnS.jpg');
        }
    </script>
</head>
<body>
    <button id="submit">submit</button>
</body>
</html>